body{
	background: #f5f5f5!important;
}
.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .form-control-feedback, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label,
body .profile-usertitle-job,
body .profile-desc-link a,
body a{
	color: #0197d4;
}
body .font-blue-madison{
	color: #0197d4!important;
}
body .form-wizard .steps>li.done>a.step .number{
	background-color: #398942;
}
body .has-success .form-control{
	border-color: #0197d4;
}
body .page-content-row .page-sidebar .navbar-nav li.active>a,
body .page-content-row .page-sidebar .navbar-nav li>a:hover,
body .progress-bar-success,
body .form-wizard .steps>li.active>a.step .number{
	background-color: #0197d4;
}
body .btn.btn-outline.green{
	border-color: #0197d4;
	color: #0197d4;
}
body .btn.btn-outline.green:hover,
body .btn.btn-outline.green:focus{
	background-color: #0197d4;
	border-color: #0197d4;
	color: #fff;
}
body .btn.green:not(.btn-outline),
body .badge-success{
	background-color:#218e29;
}
body .btn.green:not(.btn-outline){
	border-color: #218e29;
}
body .page-content{
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	background: none;
}
.page-header .navbar-fixed-top{
	background: #f5f5f5;
}
.page-header .navbar .search .form-control{
	background: #fff;
	border: 1px solid #c2cad8
}
.page-header.navbar{
	height: 60px;
	min-height: 60px;
}
.page-header.navbar .page-logo .logo-default{
	margin-top: 10px;
}
.page-content-wrapper .page-content{
	margin-left: auto;
}
.page-container-bg-solid .page-bar,
.page-content-white .page-bar{
	margin-top: -15px;
}
.login-options{
	margin-left: 30px;
	margin-right: 30px;
}
.page-header .navbar .page-logo{
	max-width: 12	0px;
	display: inline-block;
}
.page-header .navbar .navbar-nav>li>a{
	padding: 15px 20px;
	font-size: 16px;
}
.page-lock .lock-head{
	background: #3598dc;
	color: #fff;
}
.page-lock .page-body{
	background: #fff;
}
.form-login-wrapper .lock-body{
	border-bottom: none;
	margin: 0;
	padding: 30px;
}
.login-sec .btn-large{
	border-radius: 33px;
	background: #218e29;
	border-color: #218e29;
}
.login-sec .btn-large:hover,
.login-sec .btn-large:focus{
	background: #218e29;
	border-color: #218e29;
}
.form-horizontal .tab-pane .form-group.form-md-line-input{
	margin: 0;
}
.mt-repeater .mt-repeater-input{
	display: block;
	width: auto;
	padding: 0;
}
.profile-links{
	text-align: center;
	padding: 0 20px 20px;
}
.profile-usertitle,
.portlet-body{
	color: #6c7b88;
}
.profile-list-div h4{
	font-size: 15px;
	font-weight: bold;
}
.page-header .navbar .navbar-nav>li>a{
	background: #218e29;
	color: #fff;
}
.page-content-row.job-details .page-content-col{
	padding-left: 0;
}
.job-info{
	display: table;
	width: 100%;
	padding: 0 20px 20px;
}
.job-info > div{
	color: #6c7b88;
	font-size: 12px;
	display: table-cell;
}
.job-info > div span{
	margin-right: 5px;
}
.job-info > div:last-child{
	text-align: right;
}
.job-actions{
	text-align: center;
	padding: 0 20px 20px;
}
.page-header .navbar-collapse .navbar-nav .more-dropdown>a:after{
	color: #fff;
	top: 15px;
}
body .form-login-wrapper .lock-body{
	border-bottom: 1px solid #f5f5f5;
}
.lock-bottom{
	background-color: #e5e5e5;
}
.lock-form .form-group .form-control{
	background: #f5f5f5;
}
.lock-form .form-group .form-control:focus{
	background: #f0f0f0;
}

@media (min-width: 991px){
	.mega-menu .dropdown-menu-fw {
	    left: 14px;
	    right: 14px;
	}
}

@media (min-width: 992px){
	.page-no-padding .page-content {
		padding-top: 55px;
	}
}
